VITE_AUTH_API_URL=http://localhost:8000
VITE_REGLADO_REALSTATE_URL=http://localhost:5175
VITE_REGLADO_ENERGY_URL=http://localhost:5174
VITE_REGLADO_MAPAS_URL=http://localhost:5176
VITE_REGLADO_ENPROCESO_URL=http://localhost:5177
